.fortune-wrapper{
    width:600px;
    height:400px;
    display:block;
    background-color:deeppink;
    padding:50px;
 }
 .fortune{
    width:500px;
    height:200px;
    display:block;
    position:absolute;
    transform-origin:40% 50%;
    //border:1px solid white;
    top: 120px;
     left: 150px;
    transform:rotate(-10deg);
 }
 
 .fortune-left{
    width:200px;
    height:200px;
    position:absolute;
    left:0;
    background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77607/cookie-left.png");
    background-repeat:no-repeat;
    background-position:right center;   
    //border:1px solid red;
    z-index:1;
 }
 .fortune-right{
    width:200px;
    height:200px;
    position:absolute;
    left:190px;
    background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77607/cookie-right.png");
    background-position:20px 20px;
    background-repeat:no-repeat;
    background-position:left center;
    //border:1px solid yellow;
    z-index:3;
 }
 
 .fortune-message{    
    display: inline-block;
    position: absolute;
    left: -150px;
    right: 180px;
    font-family: courier;
    top: 50px;
    bottom: 80px;
    font-style: italic;
    z-index: 2;
    overflow: hidden;
    //border: 1px solid green;
    -webkit-transform: rotateZ(8deg);
    transform: rotateZ(8deg);
    
    p{
       display:block;
       background-color: #fff;
       padding: 8px 65px 7px 15px;
       white-space: nowrap;
       box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
       transform-origin:right bottom;
       position:absolute;
       bottom: 20px;
       right: 10px;
    }
 }