.weather-container{
    width: 400px;
    height: 650px;
    padding: 10px;
    color: white;
    background-color: rgb(16, 112, 177);
    display: flex;
    flex-direction: column;
    text-align: center;
    // justify-content: center;
    // align-items: center;;
    .city{
        font-size: 2rem;
    }
    .description{
        font-size: 1rem;
    }
    .temperature{
        font-size: 3rem;;
    }
    .date{
        float: left;
        word-spacing: 10px;
    };
    .range{
        float: right;
        word-spacing: 20px;
    }
    .scroll{
        clear: both; 
        overflow-x: scroll ;
        display: flex;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
    };
    .scroll > div{
        flex: 0 0 auto;
    };
    .week-forecast{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        .weekday{
            text-align: left;
        };
        .icon{
            width: 30px;
        }
    }
}   