.weather-card{
    display:column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    color:white;
    font-family: 'Open Sans', sans serif;
    font-size: 20px;
    font-weight: bold;
    background-image: url("https://media3.giphy.com/media/j3EExPtEdN2tbJL79M/giphy.gif?cid=ecf05e47ba8336ea7c366dbb3de1372a5bfff23ff94d756e&rid=giphy.gif");
}